@import './constants.scss';

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.navBar {
  position: sticky;
  background-color: white;
  width: 100%;
  top: 0;
}

.navBarContent {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #4a4a4a;
}

.appLogo {
  max-height: 33px;
  margin: auto;
}

h2 {
  &.h6 {
    font-size: 36px;
  }
}