.moodFace {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 20px;
}

.dateMonth {
    flex: 1;
    align-self: center;
}

.dateTime {
    flex: 3;
    align-self: center;
}

.expandedContent {
    display: flex;
    flex-direction: column;
}

.feelingsContainer {
    margin: 0px 0px 10px 0px;
}

.feelingsContainer > * {
    margin: 0px 10px 0px 0px;
}

.commentsContainer {
    margin: 10px 0px 0px 10px;
}